.admin-dashboard-outer{
    width: 100%;
    height: 100vh;
    display: flex;
}

.admin-dashboard-sidebar{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
}

.admin-dashboard-main{
    width: 80%;
    /* background-color: chocolate; */
}