.navigation{
    /* background-color: blueviolet; */
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
#logo{
    width: 70px;
    height: 70px;
    padding: 1em 1em;
}
.nav-links-container{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav-link{
    padding: 0 1em;
    font-size: 20px;
}